*{
	margin: 0;
	padding: 0;
}
.section-pedding {
    padding: 50px;
}

.content-area {
    background-color: #76D3DA;
}

.content-area {
    padding: 70px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    z-index: 1;
}

p.disc {
    width: 50%;
}

h4.subtitle {
    width: 15%;
    font-size: 18px;
    position: relative;
    padding: 11px 0;
}
h4.subtitle:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 53px;
    background: #fff;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

h2.title {
    font-size: 50px;
    width: 30%;
    padding: 27px 0;
    font-weight: normal;
}

button.btn {
    background: #fff;
    color: #76d3da;
    font-weight: bold;
    margin: 20px 0;
    h4.subtitle: after;
}

.content-area:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 100%;
    background-image: url(../winter_jacket.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: -1;
    /* background-size: cover; */
}